name: PublishWorkbook
on: [pull_request, workflow_dispatch]

jobs:
  Publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
      - uses: actions/checkout@v2

      - name: report
        run: echo"Hi"
