name: PublishWorkbook
on:
  workflow_dispatch

jobs:
  Publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
      - uses: actions/checkout@v2

      - name: say something
        run: echo"Hi"
